extends layout

block content
    div(id="error404")
        div.errorContain
            div.errorImg.errorImg3
            div.errorFont.errorFont1
            div.errorFont.errorFont2
            a.returnIndex.button.normalTransition(href="/") 返回首页

