extends layout

block content

    include navBar
    
    include indexContainer
    
    //- include registerBox
    div(id="loginBox")
    
block jsBlock
    script(src='/dist/assets/js/index.min.js')
